@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: bolder;
}

.problem {
    border: 1px solid black;
    padding: 5%;
}
