<% var locationUrl = "http://localhost:3000"%>
<footer class='page-footer dark'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <h5>Get started</h5>
                <ul>
                    <li><a href='#'>Home</a></li>
                    <li><a href='#'>Login</a></li>
                </ul>
            </div>
            <div class='col-sm-3'>
                <h5>About us</h5>
                <ul>
                    <li><a href='#'>Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src='<%=locationUrl%>/js/build/codeVendor.js'></script>
<script src='<%=locationUrl%>/js/build/codeMain.js'></script>
</body>
</html>