<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
    />
    <title>Problems List</title>
    <link
            rel='stylesheet'
            href='../assets/bootstrap/css/bootstrap.min.css'
    />
    <link
            rel='stylesheet'
            href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i'
    />
    <link rel='stylesheet' href='../css/Contact-Form-Clean.css' />
    <link
            rel='stylesheet'
            href='../css/baguetteBox.min.css'
    />
    <link rel='stylesheet' href='../css/Login-Form-Clean.css' />
    <link rel='stylesheet' href='../css/vanilla-zoom.min.css' />
    <link rel='stylesheet' href='../css/app.css' />
</head>

<body>
<nav
        class='navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar'
>
    <div class='container'>
        <a class='navbar-brand logo' href='#'>Flowgramming</a
        >
        <button
                data-bs-toggle='collapse'
                class='navbar-toggler'
                data-bs-target='#navcol-1'
        >
                    <span class='visually-hidden'>Toggle navigation</span
                    ><span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navcol-1'>
            <ul class='navbar-nav ms-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='landing.html'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/problems'
                    >Problems</a
                    >
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/contests'
                    >Contests</a
                    >
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/login'>LOGIN</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='profile.html'>PROFILE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>