<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
    />
    <title>Problems List</title>
    <link
            rel='stylesheet'
            href='../assets/bootstrap/css/bootstrap.min.css'
    />
    <link
            rel='stylesheet'
            href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i'
    />
    <link rel='stylesheet' href='../css/form.css' />
    <link
            rel='stylesheet'
            href='../css/baguetteBox.min.css'
    />
    <link rel='stylesheet' href='../css/loginForm.css' />
    <link rel='stylesheet' href='../css/vendor/vanilla-zoom.min.css' />
    <link rel='stylesheet' href='../css/app.css' />
</head>

<body>
<nav
        class='navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar'
>
    <div class='container'>
        <a class='navbar-brand logo' href='#'>Flowgramming</a
        >
        <button
                data-bs-toggle='collapse'
                class='navbar-toggler'
                data-bs-target='#navcol-1'
        >
                    <span class='visually-hidden'>Toggle navigation</span
                    ><span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navcol-1'>
            <ul class='navbar-nav ms-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='landing.html'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link active' href='./problems'
                    >Problems</a
                    >
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='contests.html'
                    >Contest Page</a
                    >
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='login.html'>LOGIN</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='profile.html'>PROFILE</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class='contact-clean'>
    <form id='addproblem'>
        <h2 class='text-info'>Add a Problem</h2>
        <div class='mb-3'>
            <input
                    class='form-control'
                    placeholder='Name'
                    type='text'
                    name='name'
            />
        </div>
        <div class='mb-3'>
            <input
                    class='form-control'
                    placeholder='Problem Statement'
                    type='text'
                    name='problemStatement'
            />
        </div>
        <div class='mb-3'>
            <ul id='constraintsList'></ul>
            <input
                    class='form-control d-inline-block w-75'
                    placeholder='Constraints'
                    id='constraints'
                    type='text'
                    name='constraints'
            />
            <button
                    class='btn btn-primary'
                    onclick='addValue(event)'
                    name='constraints'
                    type='button'
            >
                +
            </button>

        </div>
        <div class='mb-3'>
            <ul id='sampleInputList'></ul>
            <input
                    class='form-control d-inline-block w-75'
                    placeholder='Sample Input'
                    id='sampleInput'
                    type='text'
                    name='sampleInput'
            />
            <button
                    class='btn btn-primary'
                    onclick='addValue(event)'
                    name='sampleInput'
                    type='button'
            >
                +
            </button>
        </div>
        <div class='mb-3'>
            <ul id='sampleOutputList'></ul>
            <input
                    class='form-control d-inline-block w-75'
                    placeholder='Sample Output'
                    id='sampleOutput'
                    type='text'
                    name='sampleOutput'
            />
            <button
                    class='btn btn-primary'
                    onclick='addValue(event)'
                    name='sampleOutput'
                    type='button'
            >
                +
            </button>

        </div>
        <div class='mb-3'>
            <input
                    class='form-control'
                    type='text'
                    name='explanation'
                    placeholder='Explanation'
            />
        </div>
        <!--    <input type='file' name='image'/>-->
        <div class='mb-3'>
            <input
                    class='form-control'
                    type='number'
                    name='timeLimit'
                    placeholder='Time Limit [in s]'
            />
        </div>
        <div class='mb-3'>
            <input
                    class='form-control'
                    type='number'
                    name='memoryLimit'
                    placeholder='Memory Limit [in MB]'
            />
        </div>
        <div class='mb-3'>
            <input
                    class='form-control d-inline-block w-75'
                    placeholder='Problem Type'
                    id='problemType'
                    type='text'
                    name='problemType'
            />
            <button
                    class='btn btn-primary'
                    onclick='addValue(event)'
                    name='problemType'
                    type='button'
            >
                +
            </button>
            <ul id='problemTypeList'></ul>
        </div>
        <div class='mb-3'>
            <input type="radio" name="visibility" id="public" value='public' checked>
            <label for="public">Public</label>
            <input type="radio" name="visibility" id="private" value='private'>
            <label for="private">Private</label>
        </div>
        <button class='btn btn-primary' type='submit'>Add</button>
    </form>
</section>

<footer class='page-footer dark'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-3'>
                <h5>Get started</h5>
                <ul>
                    <li><a href='#'>Home</a></li>
                    <li><a href='#'>Login</a></li>
                </ul>
            </div>
            <div class='col-sm-3'>
                <h5>About us</h5>
                <ul>
                    <li><a href='#'>Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src='../js/build/codeVendor.js'></script>
<script src='../js/build/codeMain.js'></script>
<script src='../js/backend/problems.js'></script>
</body>
</html>

