<%- include ("./partials/header.ejs") %>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>My Profile</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>
<br>
<br>
<br>

<body>
    <main class="page profiles">
        <section class="clean-block clean-profiles dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">MY PROFILE</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card clean-profile-item border-0 rounded-0">
                            <div class="card-body">
                                <h3 style="font-size: 20px;">NAME</h3>
                                <p class="card-text" style="font-size: 17px;">Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-profile-item border-0 rounded-0">
                            <div class="card-body">
                                <h3 style="font-size: 20px;">ROLL NUMBER</h3>
                                <p class="card-text" style="font-size: 17px;">Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-profile-item border-0 rounded-0">
                            <div class="card-body">
                                <h3 style="font-size: 20px;">USER ID</h3>
                                <p class="card-text" style="font-size: 17px;">Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-profile-item border-0 rounded-0">
                            <div class="card-body">
                                <h3 style="font-size: 20px;">PROBLEMS SOLVED</h3>
                                <h3 style="font-size: 23px;width: 240px;margin: 0px 0px 0px;"></h3>
                                <p class="card-text" style="font-size: 17px;">Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-profile-item border-0 rounded-0">
                            <div class="card-body">
                                <h3 style="font-size: 20px;">RANK BY POINTS</h3>
                                <p class="card-text" style="font-size: 17px;">Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card clean-profile-item border-0 rounded-0">
                            <div class="card-body">
                                <h3 style="font-size: 20px;">TOTAL POINTS</h3>
                                <p class="card-text" style="font-size: 17px;">Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <!-- <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script> -->
</body>
</html>

<%- include ("./partials/footer.ejs") %>