@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: bolder;
}

#rankings-info-div {
    width: 100%;
    text-align: center;
    border: 2px solid black;
}
